USE [master]
GO
/****** Object:  Database [Ludo]    Script Date: 10/05/2024 06:14:57 ******/
CREATE DATABASE [Ludo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ludo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ludo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ludo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ludo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ludo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ludo]
GO
/****** Object:  User [Nathan]    Script Date: 10/05/2024 06:14:58 ******/
CREATE USER [Nathan] FOR LOGIN [Nathan] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Nathan]
GO
/****** Object:  Table [dbo].[emprunt]    Script Date: 10/05/2024 06:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emprunt](
	[id_profil] [int] NOT NULL,
	[id_jeu_physique] [int] NOT NULL,
	[date_emprunte] [date] NULL,
	[date_a_rendre] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jeu]    Script Date: 10/05/2024 06:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jeu](
	[id_jeu] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NULL,
	[nombre_joueurs_max] [int] NULL,
	[nombre_joueurs_min] [int] NULL,
	[annee] [int] NULL,
	[age_min] [int] NULL,
	[duree_min] [int] NULL,
	[descriptif] [varchar](max) NULL,
	[editeur] [varchar](50) NULL,
	[disponible] [tinyint] NULL,
	[nombre] [int] NULL,
 CONSTRAINT [PK_jeu] PRIMARY KEY CLUSTERED 
(
	[id_jeu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jeu_physique]    Script Date: 10/05/2024 06:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jeu_physique](
	[id_jeu_physique] [int] NOT NULL,
	[etat] [varchar](50) NOT NULL,
	[id_jeu] [int] NULL,
 CONSTRAINT [PK_jeu_physique] PRIMARY KEY CLUSTERED 
(
	[id_jeu_physique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personne_associe]    Script Date: 10/05/2024 06:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personne_associe](
	[id_personne_associe] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NULL,
	[prenom] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[tel] [varchar](50) NULL,
	[adresse] [varchar](50) NULL,
	[numero_carte_identite] [varchar](50) NULL,
	[id_profil] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_personne_associe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personnel]    Script Date: 10/05/2024 06:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personnel](
	[id_personnel] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NULL,
	[prenom] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[tel] [varchar](50) NULL,
	[adresse] [varchar](50) NULL,
	[isAdmin] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profil]    Script Date: 10/05/2024 06:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profil](
	[id_profil] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NULL,
	[prenom] [varchar](50) NULL,
	[tel] [nchar](10) NULL,
	[adresse] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[date_inscription] [date] NULL,
	[date_inscription_fin] [date] NULL,
	[numero_carte_identite] [varchar](50) NULL,
	[actif] [tinyint] NULL,
	[caution] [float] NULL,
	[observations] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utilisateur]    Script Date: 10/05/2024 06:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utilisateur](
	[id_utilisateur] [int] NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[salt] [varchar](255) NOT NULL,
	[role] [varchar](50) NULL,
 CONSTRAINT [PK_utilisateur] PRIMARY KEY CLUSTERED 
(
	[id_utilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_emprunt_1]    Script Date: 10/05/2024 06:14:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_emprunt_1] ON [dbo].[emprunt]
(
	[id_profil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_emprunt_2]    Script Date: 10/05/2024 06:14:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_emprunt_2] ON [dbo].[emprunt]
(
	[id_jeu_physique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_jeu_physique]    Script Date: 10/05/2024 06:14:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_jeu_physique] ON [dbo].[jeu_physique]
(
	[id_jeu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_profil]    Script Date: 10/05/2024 06:14:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_profil] ON [dbo].[profil]
(
	[id_profil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[personnel] ADD  CONSTRAINT [DF_personnel_isAdmin]  DEFAULT ((0)) FOR [isAdmin]
GO
ALTER TABLE [dbo].[emprunt]  WITH CHECK ADD  CONSTRAINT [FK_emprunt_jeu_physique] FOREIGN KEY([id_jeu_physique])
REFERENCES [dbo].[jeu_physique] ([id_jeu_physique])
GO
ALTER TABLE [dbo].[emprunt] CHECK CONSTRAINT [FK_emprunt_jeu_physique]
GO
ALTER TABLE [dbo].[emprunt]  WITH CHECK ADD  CONSTRAINT [FK_emprunt_profil] FOREIGN KEY([id_profil])
REFERENCES [dbo].[profil] ([id_profil])
GO
ALTER TABLE [dbo].[emprunt] CHECK CONSTRAINT [FK_emprunt_profil]
GO
ALTER TABLE [dbo].[jeu_physique]  WITH CHECK ADD  CONSTRAINT [FK_jeu_physique_jeu] FOREIGN KEY([id_jeu])
REFERENCES [dbo].[jeu] ([id_jeu])
GO
ALTER TABLE [dbo].[jeu_physique] CHECK CONSTRAINT [FK_jeu_physique_jeu]
GO
ALTER TABLE [dbo].[personne_associe]  WITH CHECK ADD  CONSTRAINT [FK_personne_associe_profil] FOREIGN KEY([id_profil])
REFERENCES [dbo].[profil] ([id_profil])
GO
ALTER TABLE [dbo].[personne_associe] CHECK CONSTRAINT [FK_personne_associe_profil]
GO
ALTER TABLE [dbo].[personnel]  WITH CHECK ADD  CONSTRAINT [FK_personnel_utilisateur] FOREIGN KEY([id_personnel])
REFERENCES [dbo].[utilisateur] ([id_utilisateur])
GO
ALTER TABLE [dbo].[personnel] CHECK CONSTRAINT [FK_personnel_utilisateur]
GO
ALTER TABLE [dbo].[utilisateur]  WITH CHECK ADD  CONSTRAINT [FK_utilisateur_profil] FOREIGN KEY([id_utilisateur])
REFERENCES [dbo].[profil] ([id_profil])
GO
ALTER TABLE [dbo].[utilisateur] CHECK CONSTRAINT [FK_utilisateur_profil]
GO
USE [master]
GO
