 USE [master]
GO
/****** Object:  Database [Ludo]    Script Date: 03/04/2024 12:24:28 ******/
CREATE DATABASE [Ludo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ludo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ludo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ludo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ludo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ludo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ludo]
GO
/****** Object:  Table [dbo].[adherent]    Script Date: 03/04/2024 12:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adherent](
	[id_adherent] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NULL,
	[prenom] [varchar](50) NULL,
	[tel] [nchar](10) NULL,
	[adresse] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[date_inscription] [date] NULL,
	[date_inscription_fin] [date] NULL,
	[numero_carte_identite] [varchar](50) NULL,
	[actif] [tinyint] NULL,
	[caution] [float] NULL,
	[observations] [varchar](max) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK__adherent__1048EFC3EA9EA3C6] PRIMARY KEY CLUSTERED 
(
	[id_adherent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emprunt]    Script Date: 03/04/2024 12:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emprunt](
	[id_adherent] [int] NOT NULL,
	[id_jeu] [int] NOT NULL,
	[date_emprunte] [date] NULL,
	[date_a_rendre] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_adherent] ASC,
	[id_jeu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jeu]    Script Date: 03/04/2024 12:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jeu](
	[id_jeu] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NULL,
	[nombre_joueurs_max] [int] NULL,
	[nombre_joueurs_min] [int] NULL,
	[annee] [int] NULL,
	[age_min] [int] NULL,
	[age_max] [int] NULL,
	[duree_min] [int] NULL,
	[duree_max] [int] NULL,
	[descriptif] [varchar](max) NULL,
	[editeur] [varchar](50) NULL,
	[disponible] [tinyint] NULL,
	[etat] [varchar](50) NULL,
 CONSTRAINT [PK__jeu__D366EF201AD1617C] PRIMARY KEY CLUSTERED 
(
	[id_jeu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personnel]    Script Date: 03/04/2024 12:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personnel](
	[id_personnel] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NULL,
	[prenom] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[tel] [varchar](50) NULL,
	[adresse] [varchar](50) NULL,
	[role] [smallint] NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK__personne__F333208DC143355E] PRIMARY KEY CLUSTERED 
(
	[id_personnel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personnes_associes]    Script Date: 03/04/2024 12:24:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personnes_associes](
	[id_personnes_associes] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NULL,
	[prenom] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[tel] [varchar](50) NULL,
	[adresse] [varchar](50) NULL,
	[numero_carte_identite] [varchar](50) NULL,
	[id_adherent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_personnes_associes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[adherent] ON 

INSERT [dbo].[adherent] ([id_adherent], [nom], [prenom], [tel], [adresse], [email], [date_inscription], [date_inscription_fin], [numero_carte_identite], [actif], [caution], [observations], [password]) VALUES (1, N'Dubois', N'Jean', N'0612345678', N'12 Rue de la Liberté, Paris', N'jean.dubois@gmail.com', CAST(N'2023-05-12' AS Date), CAST(N'2024-05-12' AS Date), N'ABC123456789', 1, 60, NULL, NULL)
INSERT [dbo].[adherent] ([id_adherent], [nom], [prenom], [tel], [adresse], [email], [date_inscription], [date_inscription_fin], [numero_carte_identite], [actif], [caution], [observations], [password]) VALUES (2, N'Lefevre', N'Marie', N'0678901234', N'8 Rue des Roses, Lyon', N'marie.lefevre@yahoo.com', CAST(N'2023-09-20' AS Date), CAST(N'2024-09-20' AS Date), N'XYZ987654321', 1, 60, NULL, NULL)
INSERT [dbo].[adherent] ([id_adherent], [nom], [prenom], [tel], [adresse], [email], [date_inscription], [date_inscription_fin], [numero_carte_identite], [actif], [caution], [observations], [password]) VALUES (3, N'Martin', N'Pierre', N'0698765432', N'15 Rue du Commerce, Marseille', N'pierre.martin@gmail.com', CAST(N'2023-11-07' AS Date), CAST(N'2024-11-07' AS Date), N'DEF789123456', 1, 60, NULL, NULL)
SET IDENTITY_INSERT [dbo].[adherent] OFF
GO
SET IDENTITY_INSERT [dbo].[jeu] ON 

INSERT [dbo].[jeu] ([id_jeu], [nom], [nombre_joueurs_max], [nombre_joueurs_min], [annee], [age_min], [age_max], [duree_min], [duree_max], [descriptif], [editeur], [disponible], [etat]) VALUES (1, N'Dominion', 4, 2, 2008, 13, 99, 30, 45, N'Un jeu de construction de deck où les joueurs acquièrent des cartes pour bâtir leur propre royaume et gagner des points de victoire.', N'Rio Grande Games', 1, N'Comme neuf')
INSERT [dbo].[jeu] ([id_jeu], [nom], [nombre_joueurs_max], [nombre_joueurs_min], [annee], [age_min], [age_max], [duree_min], [duree_max], [descriptif], [editeur], [disponible], [etat]) VALUES (2, N'Pandemic', 4, 2, 2008, 10, 99, 45, 60, N'Un jeu de coopération où les joueurs travaillent ensemble pour combattre des maladies qui menacent la planète.', N'Z-Man Games', 1, N'Bon état')
INSERT [dbo].[jeu] ([id_jeu], [nom], [nombre_joueurs_max], [nombre_joueurs_min], [annee], [age_min], [age_max], [duree_min], [duree_max], [descriptif], [editeur], [disponible], [etat]) VALUES (3, N'Terraforming Mars', 5, 1, 2016, 12, 99, 90, 120, N'Un jeu de gestion de ressources où les joueurs incarnent des corporations travaillant ensemble pour rendre Mars habitable.', N'Stronghold Games', 1, N'Nouveau')
SET IDENTITY_INSERT [dbo].[jeu] OFF
GO
SET IDENTITY_INSERT [dbo].[personnes_associes] ON 

INSERT [dbo].[personnes_associes] ([id_personnes_associes], [nom], [prenom], [email], [tel], [adresse], [numero_carte_identite], [id_adherent]) VALUES (1, N'Dupont', N'Jean', N'jean.dupont@gmail.com', N'0612345678', N'1 Rue de la Liberté, Paris', N'123456789012345', NULL)
INSERT [dbo].[personnes_associes] ([id_personnes_associes], [nom], [prenom], [email], [tel], [adresse], [numero_carte_identite], [id_adherent]) VALUES (2, N'Durand', N'Marie', N'marie.durand@gmail.com', N'0623456789', N'2 Rue de la Paix, Lyon', N'234567890123456', NULL)
INSERT [dbo].[personnes_associes] ([id_personnes_associes], [nom], [prenom], [email], [tel], [adresse], [numero_carte_identite], [id_adherent]) VALUES (3, N'Lefebvre', N'Pierre', N'pierre.lefebvre@gmail.com', N'0634567890', N'3 Avenue des Champs-Élysées, Marseille', N'345678901234567', NULL)
SET IDENTITY_INSERT [dbo].[personnes_associes] OFF
GO
ALTER TABLE [dbo].[emprunt]  WITH CHECK ADD  CONSTRAINT [FK__emprunt__id_adhe__3F466844] FOREIGN KEY([id_adherent])
REFERENCES [dbo].[adherent] ([id_adherent])
GO
ALTER TABLE [dbo].[emprunt] CHECK CONSTRAINT [FK__emprunt__id_adhe__3F466844]
GO
ALTER TABLE [dbo].[emprunt]  WITH CHECK ADD  CONSTRAINT [FK__emprunt__id_jeu__403A8C7D] FOREIGN KEY([id_jeu])
REFERENCES [dbo].[jeu] ([id_jeu])
GO
ALTER TABLE [dbo].[emprunt] CHECK CONSTRAINT [FK__emprunt__id_jeu__403A8C7D]
GO
ALTER TABLE [dbo].[personnes_associes]  WITH CHECK ADD  CONSTRAINT [FK_personnes_associes_adherent] FOREIGN KEY([id_adherent])
REFERENCES [dbo].[adherent] ([id_adherent])
GO
ALTER TABLE [dbo].[personnes_associes] CHECK CONSTRAINT [FK_personnes_associes_adherent]
GO
USE [master]
GO
