@font-face {
	font-family: "Englebert";
	src: url("Englebert-Regular.ttf");
}
@font-face {
	font-family: "Sofia Sans Extra Condensed";
	src: url("SofiaSansExtraCondensed-Regular.ttf");
}

.title-page
{
	-fx-font-family: "Englebert";
	-fx-font-size: 22px; 
	-fx-text-fill : #a9a9a9;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 0.5, 0.5, 2, 2);
}

.label-level-1
{
	-fx-font-family: "Englebert";
	-fx-font-size: 18px; 
	-fx-text-fill : #a9a9a9;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 0.5, 0.5, 2, 2);
}

.button
{
	-fx-font-family: "Sofia Sans Extra Condensed";
	-fx-font-size: 18px; 
	-fx-text-fill : #7c7c7c;
	-fx-background-color : #202020;
	-fx-background-raduis : 0em;
}

.button:hover
{
	-fx-text-fill : #DDDDDD;
	-fx-background-color : #303030;
	-fx-background-raduis : 0em;
}

.button:focused
{
	-fx-text-fill : #DDDDDD;
	-fx-background-color : #303030;
	-fx-background-raduis : 0em;
}

.page-btn
{
	-fx-border-color : #4B4B4B;
	-fx-border-style: solid;
	-fx-border-width : 1px;
	-fx-border-radius: 4px;
	
}

.page-btn:hover
{
	-fx-border-color : #7D7D7D;
	
}

.icon {
	 -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 0.5, 0.5, 1.5, 1.5);
}

.account
{
	-fx-fill: #00b9ee;
}

.add-game
{
	-fx-fill: #00b9ee;
}

.game
{
	-fx-fill: #ec69a4;
}

.give-back
{
	-fx-fill: #3faf6c;
}

.history
{
	-fx-fill: #f9b256;
}

.login
{
	-fx-fill: #3faf6c;
}

.logout
{
	-fx-fill: #f52e02;
}

.user-add
{
	-fx-fill: #3faf6c;
}

.user-list
{
	-fx-fill: #00b9ee;
}

.worker-add
{
	-fx-fill: #3faf6c;
}

.worker-list
{
	-fx-fill: #ec69a4;
}